./node_modules
./examples/minecraft/node_modules/**
./examples/minecraft/node_modules
./examples/minecraft/__pycache__
./examples/minecraft/__pycache__/**
./logs
.DS_Store
*.log
*.pyc
playerdata/*.dat